@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser<int>>

@{
    ViewData["Title"] = "User List";
    int index = 0;
}

<div class="container mt-5">
    <div class="row mb-4">
        <div class="col-6">
            <a class="btn btn-primary" asp-action="UpdateRoleClaims">Update Role Claims</a>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Role" asp-action="Index">Role Manage</a>
        </div>
    </div>
    <h2 class="mb-4 text-center">User List</h2>

    <div class="row mb-3 text-center">
        <div class="col-md-4"><strong>User Name</strong></div>
        <div class="col-md-4"><strong>Email</strong></div>
        <div class="col-md-4"><strong>Action</strong></div>
    </div>

    @foreach (var user in Model)
    {
        <div class="row border-bottom py-2 @(index % 2 == 0 ? "bg-light" : "bg-white") text-center">
            <div class="col-md-4">@user.UserName</div>
            <div class="col-md-4">@user.Email</div>
            <div class="col-md-4">
                <a href="@Url.Action("ManageRoles", "Administration", new { id = user.Id })" class="btn btn-secondary btn-sm">Role</a>
                <a href="@Url.Action("ManageClaims", "Claim", new { id = user.Id })" class="btn btn-info btn-sm">Claim</a>
            </div>
        </div>
        index++;
    }
</div>
