@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser<int>>

@{
    ViewData["Title"] = "User List";
    int index = 0;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<div class="container mt-5">
    <h2 class="mb-4 text-center">User List</h2>

    <div class="row mb-3 text-center">
        <div class="col-md-4"><strong>User Name</strong></div>
        <div class="col-md-4"><strong>Email</strong></div>
        <div class="col-md-4"><strong>Action</strong></div>
    </div>

    @foreach (var user in Model)
    {
        <div class="row border-bottom py-2 @(index % 2 == 0 ? "bg-light" : "bg-white") text-center">
            <div class="col-md-4">@user.UserName</div>
            <div class="col-md-4">@user.Email</div>
            <div class="col-md-4">
                <button class="btn btn-secondary btn-sm" onclick="updateUserRoleModal(@user.Id)">Role</button>
                <button class="btn btn-info btn-sm" onclick="updateUserClaimModal(@user.Id)">Calim</button>
            </div>
        </div>
        index++;
    }
</div>

<!-- update user roles modal -->

<div class="modal fade" id="updateUserRoleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="updateUserRoleForm">
                    <input type="hidden" id="editId" name="Id" />
                    <input type="hidden" id="editUserName" name="UserName" />
                    <input type="hidden" id="ediEmail" name="Email" />
                    <ul class="list-group" id="rolesList">
                        <!-- Claims will be populated dynamically here -->
                    </ul>

                    <button type="submit" class="btn btn-warning mt-2">Update</button>
                    <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- update user cliam modal -->

<div class="modal fade" id="updateUserClaimModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cmodalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="updateUserClaimForm">
                    <input type="hidden" id="ceditId" name="Id" />
                    <input type="hidden" id="ceditUserName" name="UserName" />
                    <input type="hidden" id="cediEmail" name="Email" />
                    <ul class="list-group" id="crolesList">
                        <!-- Claims will be populated dynamically here -->
                    </ul>

                    <button type="submit" class="btn btn-warning mt-2">Update</button>
                    <button type="button" class="btn btn-secondary mt-2" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function updateUserRoleModal(id) {
        $.get('/Administration/GetUserRoles', { id: id }, function (data) {
            $('#editId').val(data.id);
            $('#editUserName').val(data.userName);
            $('#ediEmail').val(data.email);
            $('#modalTitle').text('Edit Roles for ' + data.userName);

            let rolesList = $('#rolesList');
            rolesList.empty();

            data.roles.forEach(function (role, index) {
                let listItem = `
                    <div class="form-check m-1">
                        <input type="hidden" name="Roles[${index}].RoleName" value="${role.roleName}" />
                        <input class="form-check-input" type="checkbox" name="Roles[${index}].IsSelected" ${role.isSelected ? 'checked' : ''} />
                        <label class="form-check-label">
                            ${role.roleName}
                        </label>
                    </div>`;
                rolesList.append(listItem);
            });

            $('#updateUserRoleModal').modal('show');
        });
    }

    $('#updateUserRoleForm').on('submit', function (e) {
        e.preventDefault();

        // Manually adjust the form data
        let formDataArray = $(this).serializeArray();
        let formDataObject = {};

        formDataArray.forEach(function (field) {
            if (field.name.endsWith('.IsSelected')) {
                // Convert the checkbox value from "on" to true
                formDataObject[field.name] = field.value === "on" ? true : false;
            } else {
                formDataObject[field.name] = field.value;
            }
        });

        // Convert the adjusted form data to query string format
        let adjustedFormData = $.param(formDataObject);

        $.post('/Administration/UpdateUserRoles', adjustedFormData, function () {
            $('#updateUserRoleModal').modal('hide');
            location.reload();
        }).fail(function (xhr) {
            alert('Error: ' + xhr.responseText);
        });
    });

    function updateUserClaimModal(id) {
        $.get('/Claim/GetUserClaims', { id: id }, function (data) {
            $('#ceditId').val(data.id);
            $('#ceditUserName').val(data.userName);
            $('#cediEmail').val(data.email);
            $('#cmodalTitle').text('Edit Claims for ' + data.userName);

            let crolesList = $('#crolesList');
            crolesList.empty();

            data.cliams.forEach(function (claim, index) {
                let listItem = `
                    <div class="form-check m-1">
                        <input type="hidden" name="Cliams[${index}].ClaimType" value="${claim.claimType}" />
                        <input type="hidden" name="Cliams[${index}].IsRoleClaimed" value="${claim.isRoleClaimed}" />
                        <input class="form-check-input" type="checkbox" name="Cliams[${index}].IsSelected" ${claim.isSelected ? 'checked' : ''} ${claim.isRoleClaimed ? 'disabled' : ''} />
                        <label class="form-check-label">
                            ${claim.claimType}
                        </label>
                    </div>`;
                crolesList.append(listItem);
            });

            $('#updateUserClaimModal').modal('show');
        });
    }

    $('#updateUserClaimForm').on('submit', function (e) {
        e.preventDefault();

        // Manually adjust the form data
        let formDataArray = $(this).serializeArray();
        let formDataObject = {};

        formDataArray.forEach(function (field) {
            if (field.name.endsWith('.IsSelected')) {
                // Convert the checkbox value from "on" to true
                formDataObject[field.name] = field.value === "on" ? true : false;
            } else {
                formDataObject[field.name] = field.value;
            }
        });

        // Convert the adjusted form data to query string format
        let adjustedFormData = $.param(formDataObject);

        $.post('/Claim/UpdateUserClaims', adjustedFormData, function () {
            $('#updateUserClaimModal').modal('hide');
            location.reload();
        }).fail(function (xhr) {
            alert('Error: ' + xhr.responseText);
        });
    });
</script>
